.container-sections {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service-section {
  width: 585px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.respect-section {
  width: 585px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reliability-section {
  width: 585px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsibility-section {
  width: 585px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  background: #ff6060;
  border-radius: 5px;
  width: 1023px;
  height: 47px;
  justify-content: space-between;
  padding: 15px;
}

.description-section {
  width: 1023px;
  padding: 15px 15px;
  margin-top: -10px;
  font-weight: 400;
  font-size: 24px;
  color: #ff6060;
  background: #f7f7f7;
  border-radius: 5px;
}
