.section {
  display: flex;
  width: 1240px;
  height: auto;
  background: #f7f7f7;
  border-radius: 25px 25px 0px 0px;
  margin-top: 25px;
  padding-top: 40px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
