/* Section description*/

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

img.photo-profil {
  border-radius: 100%;
  width: 64px;
  background: #c4c4c4;
  height: 60%;
}

.profil-section {
  display: flex;
  font-weight: 500;
  color: #ff6060;
  font-size: 18px;
  justify-content: flex-end;
  flex-direction: column;
}

.profil-top-section {
  display: flex;
}

.profil-bottom-section {
  display: flex;
  justify-content: flex-end;
}

.title-profil-section {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}

.location-profil-section {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
  color: #ff6060;
}

.tag-profil-section {
  background: #ff6060;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  font-size: 14px;
  padding: 5px 25px 5px 25px;
}

.descriptionAndEquipement-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
