/* Section description*/

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container-description-sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img.photo-profil {
  border-radius: 100%;
  width: 4rem;
  background: #c4c4c4;
  height: 60%;
}

.profil-section {
  display: flex;
  font-weight: 500;
  color: #ff6060;
  font-size: 1.12rem;
  justify-content: flex-end;
  flex-direction: column;
}

.profil-top-section {
  display: flex;
}

.profil-bottom-section {
  display: flex;
  justify-content: flex-end;
}

.title-profil-section {
  color: #ff6060;
  font-weight: 500;
  font-size: 2.25rem;
}

.location-profil-section {
  font-weight: 500;
  font-size: 1.12rem;
  margin-bottom: 1.56rem;
  color: #ff6060;
}

.tag-profil-section {
  background: #ff6060;
  border-radius: 0.62rem;
  font-weight: 500;
  color: white;
  font-size: 0.87rem;
  padding: 0.31rem 1.56rem 0.31rem 1.56rem;
}

.descriptionAndEquipement-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .accomodations-section {
    display: flex;
    flex-direction: column;
    margin-top: 1.56rem;
    width: 21rem !important;
    align-content: center;
  }
  section.accomodations-section {
    background-color: white;
    width: 21rem;
    margin: 0;
    padding: 0;
  }
  section.container-sections {
    overflow-y: scroll;
  }
  .half-section {
    width: 21rem;
  }

  .half-content {
    width: 21rem;
  }

  .half-content-details {
    width: 21rem;
  }

  .container-description-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }
}
