.half-section {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background: #ff6060;
  border-radius: 0.31rem;
  width: 31.25rem;
  height: 2.93rem;
  justify-content: space-between;
  padding: 0.93rem;
  margin: -0.31rem;
}
.half-content {
  width: 31.25rem;
  border-radius: 0px 0px 5px 5px;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ff6060;
  background: #f7f7f7;
  /* width: 31.25rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
}
.half-logo-section {
  cursor: pointer;
}
.half-content-details {
  padding: 0.93rem;
}
/*Page About*/
.container-sections {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.collapse-content-section {
  width: 36.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.full-section {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background: #ff6060;
  border-radius: 0.31rem;
  width: 63.93rem;
  height: 2.93rem;
  justify-content: space-between;
  padding: 0.93rem;
}
.description-section,
.full-content {
  width: 63.93rem;
  padding: 0.93rem 0.93rem;
  margin-top: -0.62rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ff6060;
  background: #f7f7f7;
  border-radius: 0.31rem;
}
.logo-section,
.full-logo-section {
  cursor: pointer;
}
/*responsive*/
@media screen and (min-width: 0px) and (max-width: 640px) {
  .container-sections {
    width: 21.25rem;
  }
  .full-section {
    width: 19.93rem;
    height: 2.93rem;
  }
  .full-content {
    width: 19.93rem;
  }
  .descriptionAndEquipement-section {
    display: flex;
    flex-direction: column;
  }
  .collapse-content-section {
    width: 21rem;
  }
}
