/*Page AccommodationSheet*/
.title-description-section {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background: #ff6060;
  border-radius: 0.31rem;
  width: 31.25rem;
  height: 2.93rem;
  justify-content: space-between;
  padding: 0.93rem;
  margin: -0.31rem;
}

.container-description-section {
  width: 31.25rem;
  border-radius: 0px 0px 5px 5px;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ff6060;
  background: #f7f7f7;
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
}

.logo-description-section {
  cursor: pointer;
}

.position-description-section {
  padding: 0.93rem;
}

/*Page About*/
.container-sections {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service-section {
  width: 36.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.respect-section {
  width: 36.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reliability-section {
  width: 36.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.security-section {
  width: 36.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background: #ff6060;
  border-radius: 0.31rem;
  width: 63.93rem;
  height: 2.93rem;
  justify-content: space-between;
  padding: 0.93rem;
}

.description-section {
  width: 63.93rem;
  padding: 0.93rem 0.93rem;
  margin-top: -0.62rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ff6060;
  background: #f7f7f7;
  border-radius: 0.31rem;
}

.logo-section {
  cursor: pointer;
}
