.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: darken;
  background-image: url('../../assets/images/background.png');
}

.banner-img {
  border-radius: 1.56rem;
  margin: 0;
  mix-blend-mode: darken;
}

.title-banner {
  position: absolute;
  font-weight: 500;
  font-size: 3rem;
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .title-banner {
    font-size: 1rem;
  }
  .banner-container {
    height: 8rem !important;
    border-radius: 1.56rem;
  }
  img.banner-img {
    width: 100%;
    height: 100%;
  }
  .banner-container {
    width: 21rem;
    height: auto;
  }
}
